<!DOCTYPE html>
<html lang="en" >
  <head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css" integrity="sha256-9Wem8nnlUXfFOzeSuCmPQH9r7yKFrfECZzRuccXu89U=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/dark.css" integrity="sha256-7v0Y9/PT/D+0WF5dYjByXqXaqPCoHz4EiXU1N+JpT0E=" crossorigin="anonymous" />
    <title>SQLiMe</title>
    {% endblock meta %}
  </head>
  <body class="hack dark">
    <div class="main container">
      {% block content %}
      {% endblock content %}
      <hr />
      <a href="{% url 'index' %}">Index</a>
      <a href="{% url 'profile' %}">Profile</a>
      <a href="{% url 'botm' %}">Books of The Month</a>
      <a href="{% url 'subscribe' %}">Subscribe for news</a>
    </div>
    {% block script %}
    {% endblock script %}
  </body>
</html>
 
