
{% extends 'base.html' %}


{% block meta %}
  {{ block.super }}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock meta %}

{% block content %}
      <h1>Books of the month</h1>
      <hr/>
      <div class="alert alert-warning">
        Favorite books: <p id="counter" style="display: inline; margin: 0;">0</p><i class="material-icons" style="">star</i>
      </div>
      <table>
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Categories</th>
            <th>ISBN</th>
            <th>Favorite</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="loading" style="margin-left: calc(50% - 10px);"></div>
{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'js/botm.js' %}"></script>
{% endblock script %}
