{% extends 'base.html' %}

{% block meta %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock meta %}


{% block content %}
      <h1>Hello apa kabar?</h1>
      <form id="status_form" action="{% url 'submit' %}" method="post" class="d-flex">
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">
          <button type="submit" form="status_form" class="btn btn-primary btn-block">Submit</button>
        </div>
      </form>
      {% for status in statuses %}
      <a href="{% url 'status' status.pk %}">
        <div class="card" style="margin-bottom: 8px;">
          <div class="card-content">
            <div class="inner">{{ status.status }}</div>
          </div>
          <!--<div class="card-footer bg-transparent border-success"></div>-->
        </div>
      </a>
      {% endfor %}
      <div class="loading" style="margin-left: calc(50% - 10px);"></div>
      <script>
        $('.card').hide();
        setTimeout(function () {
          $('.loading').hide();
          $('.card').show();
        }, 3000);
      </script>
{% endblock content %}
