{% extends 'base.html' %}


{% block meta %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock meta %}

{% block content %}
      <h1>Giovan Isa Musthofa</h1>
      <p>Faculty of Computer Science</p>
      <p>1706040126</p>
      <button onclick="switchTheme()" class="btn btn-default btn-ghost mb-4">Change theme</button>
      <hr />
       <div id="accordion" class="menu">
         <h3 class="menu-item">
           Activity <div class="pull-right">»</div>
         </h3>
         <div>
           <ul>
             <li>Turning Oxygen into Carbon Dioxide.</li>
             <li>Being a complete asshole sometime.</li>
           </ul>
         </div>
         <h3 class="menu-item">
           Experience <div class="pull-right">»</div>
         </h3>
         <div id="ajax-data">
           <ul>
           </ul>
         </div>
         <h3 class="menu-item">
           Achievment <div class="pull-right">»</div>
         </h3>
         <div>
           <ul>
             <li>Being born.</li>
             <li>Surviving.</li>
           </ul>
         </div>
       </div>
{% endblock content %}

{% block script %}
<script>
  {% load static %}
  $( function() {
    $("#accordion").accordion();
  } );
  
  switchTheme = function() {
    let cls = $("body")[0].classList;
    if (cls.contains("dark"))
      cls.remove("dark");
    else
      cls.add("dark");
  };

  $.ajax({
    url: "{% static 'json/organization.json' %}",
    success: function (response) {
      var orgs = response;
      var html = "";
      orgs.forEach(function (org) {
        html += `<li>${org.name} - ${org.year}</li>`
      });
      $("#ajax-data").html("<ul>" + html + "</ul>");
    },
    }
  );
</script>
{% endblock script %}
