
{% extends 'base.html' %}

{% block meta %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock meta %}


{% block content %}
      <h1>Status</h1>
      <div class="card" style="margin-bottom: 8px;">
        <div class="card-content">
          <div class="inner">{{ status.status }}</div>
        </div>
        <!--<div class="card-footer bg-transparent border-success"></div>-->
      </div>

      <form id="status_form" action="{% url 'status' status.pk %}" method="post" class="d-flex">
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">
          <button type="submit" form="status_form" class="btn btn-primary btn-block">Reply</button>
        </div>
      </form>
      <h2>Replies</h2>
      {% for reply in status.replies.all %}
      <a href="{% url 'status' reply.pk %}">
        <div class="card" style="margin-bottom: 8px;">
          <div class="card-content">
            <div class="inner">{{ reply.status }}</div>
          </div>
          <!--<div class="card-footer bg-transparent border-success"></div>-->
        </div>
      </a>
      {% endfor %}

{% endblock content %}
