{% extends 'base.html' %}


{% block meta %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
{% endblock meta %}

{% block content %}
      <h1>Subscribe</h1>
      <hr/>
      <form id="subscribe_form" class="d-flex">
        {% csrf_token %}
        {{ form }}
        <div class="form-actions">
          <button id="submit_button" type="button" onclick="subscribe()"
                  class="btn btn-primary btn-block btn-ghost btn-default" disabled="true"
                  style="margin-top: 8px;">Submit</button>
        </div>
      </form>
      <div id="warning" class="alert">
        <p>Please fill out the empty fields.</p>
      </div>
      <hr/>
      <ul id="sub_list">
      </ul>
{% endblock content %}

{% block script %}
{% load static %}
<script src="{% static 'js/subscribe.js' %}"></script>
{% endblock script %}
